@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-wrapper:has(:required):after {
  content: "*";
  position: absolute;
  font-size: 1.6rem;
  top: -22px;
  right: -8px;
  color: rgb(255, 0, 0);
}

input:user-invalid {
  text-decoration: undreline dashed red 1px;
}

button:not(:disabled):hover {
  cursor: pointer;
}